*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Monolisa", Courier, monospace;
}
body {
  height: 100%;
  width: 100%;
  display: grid;
  color: antiquewhite;
  background: black;
  place-items: center;
  min-block-size: 100dvh;
}
